@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,700;0,900;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

body{
  animation: fade .75s ease;
}

.header{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(10, 9, 8, 0.2), rgba(10, 8, 8, 0.2)), url(images/background.jpg) ;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 150px;
}

.menu{
  flex: 1;
  text-align: right;
}

.menu ul li{
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 8px 15px;
}

.menu ul li a{
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.menu ul li::after{
  content: '';
  width: 0%;
  height: 3px;
  display: block;
  background: #d1bc9d;
  margin: auto;
  transition: .5s;
}

.menu ul li:hover::after{
  width: 90%;
}

.text-box{
  width: 90%;
  color: white;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

.text-box h1{
  font-size: 70px;
}

.text-box p{
  font-size: 18px;
  margin: 10px 0px 40px;
  font-weight: 300;
}

.more-btn{
  display: inline-block;
  text-decoration: none;
  border: 1px solid white;
  color: white;
  padding: 10px 30px;
  background: transparent;
  font-size: 15px;
  transition: .5s;
}

.more-btn:hover{
  background: #d1bc9d;
  transition: .5s;
}

nav .fas{
  display: none;
}

#openMenu{
  font-size: 25px;
  position: absolute;
  right: 5%;
  top: 2%;
}

.welcome-message{
  font-size: 20px;
  letter-spacing: 15px;
  position: relative;
  margin-top: 130px;
  text-align: center;
  font-family: 'Noto Serif KR', serif;
}

.row{
  display: flex;
  justify-content: space-evenly;
  margin: 5% 10%;
}

.items-col{
  flex-basis: 31%;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 15px;
  height: 400px;
  width: 150px;
}

.items-col img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.categories{
  margin: auto;
  width: 80%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
}

.categories h1{
  font-size: 30px;
  font-weight: 900;
  padding: 20px 0;
}

.categories p{
  font-size: 16px;
  font-weight: 300;
  padding: 10px;
}

.layer{
  background: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: .5s;
  cursor: pointer;
}

.layer:hover{
  background: rgba(10, 9, 8, 0.8);
}

.layer h3{
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 30px;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: .3s;
}

.layer:hover h3{
  opacity: 1;
  top: 46%;
}

.contact{
  margin: 40px auto;
  width: 80%;
  background-image: linear-gradient(rgba(10, 9, 8, 0.5), rgba(10, 8, 8, 0.5)), url(images/contact.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  padding: 100px 0;
  text-align: center;
}

.contact h3{
  font-size: 30px;
  font-weight: 300;
  color: white;
  padding: 50px;
}

.footer{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  margin: 100px auto;
  padding-bottom: 50px;
}

.icons .fa{
  cursor: pointer;
  margin: 0 10px;
  padding: 10px 0px;
  font-size: 20px;
}

.about{
  border: rgba(0, 0, 0, .8) 1px solid;
  position: absolute;
  width: 80%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.about-title{
  margin: auto;
  position: relative;
  width: 80%;
  text-align: center;
  padding-bottom: 10px;
}

.about-title h1{
  font-size: 40px;
  font-weight: 900;
  padding: 40px 0;
}

.about-title img{
  display: block;
  width: 140px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.about-title p{
  font-weight: 100;
  font-size: 18px;
  line-height: 40px;
  padding: 20px;
}

@keyframes fade {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

.form-container{
  position: absolute;
  margin-top: 20px;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  text-align: left;
}

input[type=text], select, textarea {
  background: transparent;
  outline: none;
  border: 1px solid;
  border-color: transparent transparent white transparent;
  width: 100%;
  height: 20px;
  padding: 15px;
  margin-bottom: 40px;
  box-sizing: border-box;
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
}

.contact-form label{
  text-transform: uppercase;
}

.fullname{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.submitBox{
  display: flex;
  justify-content: center;
}

.submitBtn{
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 15px;
  padding: 5px 10px;
  cursor: pointer;
  transition: .3s;
  margin: auto;
}

.submitBtn:hover{
  background: #d1bc9d;
  transition: .3s;
}

.sidemenu{
  width: 8%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  margin-top: 120px;
}

.sidemenu-item{
  transform: rotate(-90deg);
}

.sidemenu-item a{
  padding: 30px 0;
  text-decoration: none;
  color: black;
  letter-spacing: 4px;
  font-size: 14px;
  transition: .2s;
}

.sidemenu-item a:hover{
  font-weight: 900;
  font-size: 18px;
  transition: .2s;
}

@media(max-width: 700px){
  .text-box h1{
    font-size: 25px;
  }
  .text-box p{
    font-size: 15px;
  }

  .welcome-message{
    font-size: 15px;
    letter-spacing: 2px;
  }

  .menu{
    position: absolute;
    background: rgba(10, 9, 8, 0.8);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: center;
    z-index: 20;
    transition: .8s;
  }

  .menu ul li{
    top: 50px;
    margin-top: 10px;
    display: block;
    padding: 30px;
  }

  nav .fas{
    text-align: left;
    display:block;
    color: white;
    margin: 10px;
    font-size: 15px;
  }

  .row{
    flex-direction: column;
    align-items: center;
  }

  .layer{
    background: rgba(0, 0, 0, 0.6);
  }

  .layer h3{
    opacity: 1;
    font-weight: 400;
    font-size: 20px;
    top: 46%;
  }

  .contact h3{
    font-size: 18px;
  }

  .items-col{
    height: 200px;
  }

  .footer{
    font-size: 14px;
  }

  .about-title h1{
    padding: 10px;
    font-size: 30px;
  }

  .about-title p{
    font-size: 15px;
  }
}
